[Unit]
Description=Paste
StartLimitIntervalSec=30
StartLimitBurst=2

[Service]
# useradd --system --create-home --shell /usr/sbin/nologin paste
User=paste
Group=paste
AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
NoNewPrivileges=true
SystemCallFilter=@system-service
ProtectSystem=strict
WorkingDirectory=/home/paste
ExecStart=/home/paste/paste
StandardOutput=append:/var/log/paste.log
StandardError=append:/var/log/paste.log
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
